h1.hidden {
    visibility: hidden;
}

label.error{
    font-weight: bold;
    color: #e74c3c;
}

.alert{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.pagination{
    float: left;
    padding: 17px 0 0 50px;
    zoom: 1;
}

.pagination li{
    float: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    margin: 0 3px;
    font-weight: bold;
}

.pagination li a{
    display: block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    background: #306002 repeat-x 0 bottom;
    color: #ffffff;
    border: 1px solid #4aa319;
    font-weight: bold;
}

.active{
    display: block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    background: #d58a1d repeat-x 0 0;
    border: 1px solid #d58a1d;
    font-weight: bold;
    color: #ffffff;
}

.pagination li a:hover{
    background: #d58a1d repeat-x 0 0;
    border: 1px solid #d58a1d;
    font-weight: bold;
    color: #ffffff;
}

.disabled{
    display: block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    background: #d58a1d repeat-x 0 0;
    border: 1px solid #d58a1d;
    font-weight: bold;
    color: #ffffff;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:40px;
    height:40px;
    background-color: #63c1ff;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:30px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color: #ff9c8b;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}