label.error {
    font-weight: bold;
    color: #e74c3c;
}
/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

}

.md2{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999;
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.md2-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: red;
}
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.dong {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dong:hover {
    color: red;
}
.dong:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.status_0{
    height: 30px;
    padding-top:8px;
    background: #FF8482;
    color: #fef7ec;
    text-align: center;
    font-weight: bold;
    font-size: 9pt;
}
.status_1{
    height: 30px;
    padding-top:8px;
    background: #fbfaa7;
    color: #0c5460;
    text-align: center;
    font-weight: bold;
    font-size: 9pt;
}
.status_2{
    height: 30px;
    padding-top:8px;
    background: #befcd8;
    color:#1e7e34;
    text-align: center;
    font-weight: bold;
    font-size: 9pt;
}
.status_3{
    height: 30px;
    padding-top:8px;
    background: #9797fd;
    color:#fef7ec;
    text-align: center;
    font-weight: bold;
    font-size: 9pt;
}
.status_4{
    height: 30px;
    padding-top:8px;
    background: #6A7177;
    color:#fef7ec;
    text-align: center;
    font-weight: bold;
    font-size: 9pt;
}
.st_0{
    color: #FF8482;
}
.st_1{
    color: #fbd64e;
}
.st_2{
    color:#1e7e34;
}
.st_3{
    color:#9797fd;
}
.st_4{
    color:#6A7177;
}

.btn-id{
    text-decoration: none;
    border:#4cb2ff solid 1px;
    padding: 2px;
    background: transparent;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    color: #4cb2ff;
}

#data-table tr:hover {
    background-color: #a5eeff;
}
.selected {
    background-color: #9bd2ee !important;
}

.Table
{
    display: table;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: 1px solid #ddd;
    border-top-width: 0;
    margin-bottom: 0!important;
    border-collapse: collapse;
    border-spacing: 0;
}

.Heading
{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    color: #337ab7;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #c1f5c3 0,#ECECEC 100%);
    border-bottom-width: 2px;
    text-align: center;
}

.Row
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background-color: #f5f5f5;
}

.Row:hover{
    background-color: #c1f5c3;
}
.Cell
{
    display: table-cell;
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-radius: 0!important;
}

select:required:invalid {
    color: #057bbe;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: #057bbe;
}
.no-close .ui-dialog-titlebar-close {display: none;}

.no-titlebar .ui-dialog-titlebar{
    display: none;
}

.no-position {position: inherit;}

.table1 tr td.col1, .table1 tr th.col1 {
    width: 24%;
    padding: 5px 2%;
    text-align: left;
}

.table1 tr th{
    border: 1px solid #82a63c;
    text-align: center;
    font-weight: bold;
    color: #306002;
    padding: 5px 0;
}

.table1 tr td {
    text-align: center;
    width: 18%;
    border: 1px solid #82a63c;
    color: #306002;
    padding: 5px 0;
}

.table1 input{
    border: 1px solid #82a63c;
    color: #306002;
    padding: 5px 0;
    text-align: center;
}

.table2 input{
    border: 1px solid #d34e24;
    color: #d34e24;
    padding: 5px 0;
    text-align: center;
}


.table2 tr td.col1, .table1 tr th.col1 {
    width: 24%;
    padding: 5px 2%;
    text-align: left;
}

.table2 tr th {
    border: 1px solid #d34e24;
    text-align: center;
    font-weight: bold;
    color: #d34e24;
    padding: 5px 0;
}

.table2 tr td {
    text-align: center;
    width: 18%;
    border: 1px solid #d34e24;
    color: #d34e24;
    padding: 5px 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #19B5FE;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #19B5FE transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}